<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestyDbTryout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  		<customErrors mode="Off" />
		    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<caching enabled="false" enableKernelCache="false">
    <profiles>
      <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" />
      <add extension=".script" policy="DontCache" kernelCachePolicy="DontCache" />
    </profiles>
  </caching>-->
  <system.webServer>

    <handlers>
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="HtmlTestPage.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="POST" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
            <!--<profiles>
                <add extension=".axhx" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>-->
        </caching>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="cache-control" value="no-store, private, no-cache" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=.\sqlexpress;Database=TestyDb;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <applicationSettings>
        <TestyDbTryout.Properties.Settings>
            <setting name="TestyDbTryout_EngraftDbManipulationService_EngraftService" serializeAs="String">
                <value>http://localhost/Testery/EngraftService.asmx</value>
            </setting>
        </TestyDbTryout.Properties.Settings>
    </applicationSettings>
  </configuration>
